@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.styles_scroll-to-top__2A70v{
  display: flex;
  justify-content: center;
  align-items: center;
}
.h_active{
  width: 100%;
  position: fixed;
  visibility: visible;
  transition: all .3s;
}
.h_hidden{
  width: 100%;
  position: fixed;
  visibility: hidden;
  transition: all .3s;
}
.slider-img{
  height: 60vh;
}
@media screen and (max-width: 768px) {
  .slider-img {
    height: 50vh;
  }
}
@media screen and (max-width: 640px) {
  .slider-img {
    height: 33vh;
  }
}
